@charset "UTF-8";

.footer {
	position: fixed;       /* Fix it to the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDD6C9;
    padding: 10px 40px;
    font-family: 'SortsMillGoudy', serif;
    font-size: 16px;
    border-top: 2px solid #2b322b;
}

.footer-profile {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.footer-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #334137;
    letter-spacing: 5px;
    text-align: center;
}

.footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: #334137;
    font-weight: normal;
    letter-spacing: 2px;
}

.icon, .footer-icon {
    height: 24px !important;
    width: 24px !important;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
    padding: 0.4em .6em;
    background: none;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
}

.footer-icon:hover,
.icon:hover {
    color: rgb(255,255,255);
    transform: scale(1.05);
}