@charset "UTF-8";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDD6C9;
    padding: 10px 40px;
    font-family: 'SortsMillGoudy', serif;
    border-bottom: 2px solid #2b322b;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #334137;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.brand {
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
	padding: 0.4em .6em;
	background: none;
	border:0;
	cursor:pointer;
    text-decoration: none;
    color: #334137;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'SortsMillGoudy', serif !important;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-item:hover {
    color: rgb(255,255,255);
    transform: scale(1.05);
}