@charset "UTF-8";

 @font-face {
            font-family: 'SortsMillGoudy';
            src: url('${pageContext.request.contextPath}/resources/fonts/SortsMillGoudy-Regular.ttf') format('truetype');
        }
  @font-face {
            font-family: 'AlexBrush-Regular';
            src: url('${pageContext.request.contextPath}/resources/fonts/AlexBrush-Regular.ttf') format('truetype');
        }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SortsMillGoudy', serif;
  background-color: #334137;
  color: #DDD6C9;
}

.success-message {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

/* Main container */
.home-main {
    padding: 50px;
    font-family: 'SortsMillGoudy', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Intro section layout */
.intro-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 70px;
    gap: 40px;
}

/* Left side: Welcome text + image stacked */
.intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center-align the text */
}

.welcome-title {
    font-size: 40px;
    font-family: 'AlexBrush-Regular', cursive;
    margin-bottom: 10px; /* Reduced margin to bring it closer to the image */
    color: #DDD6C9;
    margin-left: 40px;
}

.welcome-title span {
    color: #DDD6C9;
    font-weight: bold;
    margin-bottom: 0px;
}

.cards-image {
    max-width: 150%;
    height: auto;
    margin-top: -130px;
    margin-left: 70px; /* You can adjust this value as needed to reduce space further */
}

/* Right side: Paragraph text */
.intro-right {
    flex: 2;
    font-size: 22px;
    line-height: 1.6;
    color: #DDD6C9;
    text-align: center;
    margin-left: 80px;
}

/* Featured section layout */
.featured-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top:-70px;
}

.featured-title {
	font-family: 'AlexBrush-Regular', cursive;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Product card layout */
.featured-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.product-card {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fdfdfd;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
	color: #334137;
    font-weight: bold;
    font-size: 18px;
}

.product-price {
    font-size: 16px;
    color: #888;
}

/* Game stack image */
.game-stack-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.game-stack-section img {
    max-width: 300px;
    height: auto;
}