@charset "UTF-8";

@font-face {
            font-family: 'SortsMillGoudy';
            src: url('${pageContext.request.contextPath}/resources/fonts/SortsMillGoudy-Regular.ttf') format('truetype');
        }
        @font-face {
            font-family: 'AlexBrush-Regular';
            src: url('${pageContext.request.contextPath}/resources/fonts/AlexBrush-Regular.ttf') format('truetype');
        }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SortsMillGoudy', serif;
  background-color: #334137;
  color: #1F1F1F;
}

.login-main {
  display: flex;
  justify-content: space-between;
  background-color: #2E3A31;
  padding: 100px 52px;
}

.login-box {
  background-color: #EFE7DA;
  padding: 40px;
  border-radius: 4px;
  width: 40%;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-box label {
  display: block;
  margin: 40px 0 20px;
  letter-spacing: 2px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background-color: #2E3A31;
  color: white;
}

.login-btn,
.signup-btn {
  display: block;
  width: 200px; /* or use fit-content if text-based sizing is preferred */
  padding: 10px 20px;
  background-color: #2E3A31;
  color: white;
  border: none;
  border-radius: 25px; /* Rounded edges */
  margin: 30px auto; /* centers the button horizontally */
  font-family: 'SortsMillGoudy', serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #253029;
}

.or {
  text-align: center;
  font-family: 'AlexBrush-Regular', cursive;
  margin: 10px 0;
}

.login-image {
  text-align: center;
  width: 55%;
  color: #EFE7DA;
}

.board-text {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'SortsMillGoudy', serif;
}

.board-text em {
  font-family: 'AlexBrush-Regular', cursive;
  font-size: 24px;
  display: block;
  margin-top: 5px;
}

.login-image img {
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
}
